<section class="bidding" id="bidding">
  <div class="container container-second">
    <div class="bidding__wrapper">
      <h2 class="section-title">
        Торги и госконтракты
      </h2>
      <div class="bidding__content">
        <span class="bidding__name">Участник</span>
        <span class="bidding__count">9</span>
        <span class="bidding__price">#.# млрд ₽</span>
        <span class="bidding__name">Выиграл</span>
        <span class="bidding__count">6</span>
        <span class="bidding__price">##.# млрд ₽</span>
        <span class="bidding__name">Госконтракты</span>
        <span class="bidding__count">1</span>
        <span class="bidding__price">##.# млрд ₽</span>
      </div>
    </div>
  </div>
</section>
