<section class="contacts" id="contacts">
  <div class="container">
    <div class="contacts__wrapper">
      <div class="contacts__content">
        <h2 class="section-title">Контактная информация</h2>
        <span class="contacts__address">
          г. Екатеринбург, ул. Пушкина 9а
        </span>
        <a href="tel:88002341166" class="contacts__phone">
          8 800 234 11 66
        </a>
        <a href="mailto:sales@hvalacloud.ru" class="contacts__mail">
          sales@hvalacloud.ru
        </a>
        <a href="https://hvalacloud.ru" class="contacts__site">
          hvalacloud.ru
        </a>
      </div>
      <div class="contacts__overlay">
        <div id="map-test" class="contacts__map"></div>
      </div>



    </div>
  </div>
</section>
