<section class="facts" id="facts">
  <div class="container container-second">
    <h2 class="section-title">
      Положительные факты
    </h2>
    <div class="facts__content">
      <div class="facts__box">
        <div class="facts__item">
          <p class="facts__subtitle">
            Факты
          </p>
        </div>
        <div class="facts__item">
          <p class="facts__subtitle facts__subtitle--accent">
            Результат
          </p>
        </div>
        <div class="facts__item">
          <p class="facts__subtitle facts__subtitle--last">
            Описание
          </p>
        </div>
      </div>
      <div class="facts__box">

        <div class="facts__item">
          <p class="facts__text">
            Информационная открытость
          </p>
        </div>
        <div class="facts__item">
          <p class="facts__text facts__text--accent">
            Представлены контактные данные
          </p>
          <svg class="facts__svg">
            <use xlink:href="img/sprite.svg#check"></use>
          </svg>
        </div>



        <div class="facts__item facts__item--last">

          <div class="facts__text facts__text--acardion">
            <p class="facts__mobile">
              Описание
            </p>
            Указаны контактные данные, что показывает открытость компании
          </div>
          <button class="btn-reset facts__btn">Читать описание</button>

        </div>
      </div>
      <div class="facts__box">
        <div class="facts__item">
          <p class="facts__text">
            Реестр банкротства
          </p>
        </div>
        <div class="facts__item">
          <p class="facts__text facts__text--accent">
            Отсутствуют записи в реестре
          </p>
          <svg class="facts__svg facts__svg--accent">
            <use xlink:href="img/sprite.svg#check"></use>
          </svg>
        </div>
        <div class="facts__item">
          <div class="facts__text facts__text--acardion">
            <p class="facts__mobile">
              Описание
            </p>
            Отсутствуют записи в реестре
          </div>
          <button class="btn-reset facts__btn">Читать описание</button>
        </div>
      </div>
      <div class="facts__box">
        <div class="facts__item">
          <p class="facts__text">
            Дата регистрации организации
          </p>
        </div>
        <div class="facts__item">
          <p class="facts__text facts__text--accent">
            Создана 9 лет назад (дата регистрации: 21.08.2014)
          </p>
          <svg class="facts__svg">
            <use xlink:href="img/sprite.svg#check"></use>
          </svg>
        </div>
        <div class="facts__item">
          <div class="facts__text facts__text--acardion">
            <p class="facts__mobile">
              Описание
            </p>
            Организация создана более трех лет назад, что является показателем стабильной работы
          </div>
          <button class="btn-reset facts__btn">Читать описание</button>
        </div>
      </div>
      <div class="facts__box">
        <div class="facts__item">
          <p class="facts__text">
            Статус организации
          </p>
        </div>
        <div class="facts__item">
          <p class="facts__text facts__text--accent">
            Действующее
          </p>
          <svg class="facts__svg facts__svg--mini">
            <use xlink:href="img/sprite.svg#check"></use>
          </svg>
        </div>
        <div class="facts__item">
          <div class="facts__text facts__text--acardion">
            <p class="facts__mobile">
              Описание
            </p>
            Согласно данным ФНС РФ, организация осуществляет деятельность
          </div>
          <button class="btn-reset facts__btn">Читать описание</button>
        </div>
      </div>
      <div class="facts__box">
        <div class="facts__item">
          <p class="facts__text">
            Уставный капитал
          </p>
        </div>
        <div class="facts__item">
          <p class="facts__text facts__text--accent">
            17 000,00 руб.
          </p>
          <svg class="facts__svg facts__svg--mini">
            <use xlink:href="img/sprite.svg#check"></use>
          </svg>
        </div>
        <div class="facts__item">
          <div class="facts__text facts__text--acardion">
            <p class="facts__mobile">
              Описание
            </p>
            Уставный капитал определяет минимальный размер имущества юридического лица, гарантирующего интересы его
            кредиторов.
            Организация с большим уставным капиталом выглядит более надежной.
          </div>
          <button class="btn-reset facts__btn">Читать описание</button>
        </div>
      </div>
      <div class="facts__box">
        <div class="facts__item">
          <p class="facts__text">
            Руководитель
          </p>
        </div>
        <div class="facts__item">
          <p class="facts__text facts__text--accent">
            Руководит более 3х лет
          </p>
          <svg class="facts__svg">
            <use xlink:href="img/sprite.svg#check"></use>
          </svg>
        </div>
        <div class="facts__item">
          <div class="facts__text facts__text--acardion">
            <p class="facts__mobile">
              Описание
            </p>
            У организации продолжительное время не менялся руководитель, что показывает стабильность органа принимающего
            решения.
          </div>
          <button class="btn-reset facts__btn">Читать описание</button>
        </div>
      </div>
      <div class="facts__box">
        <div class="facts__item">
          <p class="facts__text">
            Реестр массовых руководителей
          </p>
        </div>
        <div class="facts__item">
          <p class="facts__text facts__text--accent">
            Не числится
          </p>
          <svg class="facts__svg facts__svg--mini">
            <use xlink:href="img/sprite.svg#check"></use>
          </svg>
        </div>
        <div class="facts__item">
          <div class="facts__text facts__text--acardion">

            <p class="facts__mobile">
              Описание
            </p>
            Руководитель организации не числится в реестре массовых руководителей.
          </div>
          <button class="btn-reset facts__btn">Читать описание</button>
        </div>
      </div>
      <div class="facts__box">
        <div class="facts__item">
          <p class="facts__text">
            Недостоверность данных о Руководителе
          </p>
        </div>
        <div class="facts__item">
          <p class="facts__text facts__text--accent">
            Не найдена
          </p>
          <svg class="facts__svg facts__svg--mini">
            <use xlink:href="img/sprite.svg#check"></use>
          </svg>
        </div>
        <div class="facts__item">
          <div class="facts__text facts__text--acardion">
            <p class="facts__mobile">
              Описание
            </p>
            Информация о недостоверности данных Руководителя организации не найдена.
          </div>
          <button class="btn-reset facts__btn">Читать описание</button>
        </div>
      </div>
      <div class="facts__box">
        <div class="facts__item">
          <p class="facts__text">
            Дисквалифицированные лица (Руководитель)
          </p>
        </div>
        <div class="facts__item">
          <p class="facts__text facts__text--accent">
            Не числится
          </p>
          <svg class="facts__svg facts__svg--mini">
            <use xlink:href="img/sprite.svg#check"></use>
          </svg>
        </div>
        <div class="facts__item">
          <div class="facts__text facts__text--acardion">
            <p class="facts__mobile">
              Описание
            </p>
            Руководитель организации не числится в реестре дисквалифицированных.
          </div>
          <button class="btn-reset facts__btn">Читать описание</button>
        </div>
      </div>
    </div>
  </div>
</section>
