<footer class="footer">
  <div class="container">
    <div class="footer__content">
      <div class="footer__inn">
        <span class="footer__span">ИНН <span class="footer__span footer__span--accent">6686051134</span></span>
      </div>
      <nav class="nav footer__nav">
        <ul class="nav__list footer__list list-reset">
          <li class="nav__item footer__item">
            <a href="#hero" class="nav__link">
              О компании
            </a>
          </li>
          <li class="nav__item footer__item">
            <a href="#contacts" class="nav__link">
              Контакты
            </a>
          </li>
          <li class="nav__item footer__item">
            <a href="#reliability" class="nav__link">
              Надежность
            </a>
          </li>
          <li class="nav__item footer__item">
            <a href="#facts" class="nav__link">
              Положительные факты
            </a>
          </li>
          <li class="nav__item footer__item">
            <a href="#revenue" class="nav__link">
              Выручка
            </a>
          </li>
          <li class="nav__item footer__item">
            <a href="#bidding" class="nav__link">
              Торги и госконтракты
            </a>
          </li>
          <li class="nav__item footer__item">
            <a href="#founders" class="nav__link">
              Учредители
            </a>
          </li>

        </ul>
      </nav>
    </div>
  </div>

</footer>
