<section class="founders" id="founders">
  <div class="container container-second">
    <h2 class="section-title">
      Учредители
    </h2>
    <div class="founders__content">
      <div class="founders__item">
        <span class="founders__position">
          Генеральный директор, руководитель
        </span>
        <p class="founders__name">
          Евсюков Кирилл Иванович
        </p>
        <p class="founders__inn">
          ИНН <span class="founders__accent">662513914150</span>
        </p>
        <p class="founders__text">Доля в уставном капитале: <span class="founders__procent">30,00%</span> </p>
      </div>
      <div class="founders__item">
        <span class="founders__position">
          Учредитель
        </span>
        <p class="founders__name">
          Гараев Денис Фягимович
        </p>
        <p class="founders__inn">
          ИНН <span class="founders__accent">667361194062</span>
        </p>
        <p class="founders__text">Доля в уставном капитале: <span class="founders__procent">30,00%</span> </p>
      </div>
      <div class="founders__item">
        <span class="founders__position">
          Учредитель
        </span>
        <p class="founders__name">
          Мельников Евгений Владимирович
        </p>
        <p class="founders__inn">
          ИНН <span class="founders__accent">667357384102</span>
        </p>
        <p class="founders__text">Доля в уставном капитале: <span class="founders__procent">30,00%</span> </p>
      </div>
      <div class="founders__item">
        <span class="founders__position">
          Учредитель
        </span>
        <p class="founders__name">
          Швецова Галина Николаевна
        </p>
        <p class="founders__inn">
          ИНН <span class="founders__accent">667323153298</span>
        </p>
        <p class="founders__text">Доля в уставном капитале: <span class="founders__procent">10,00%</span> </p>
      </div>
    </div>
  </div>
</section>
