<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="img/favicon.svg" type="img/x-icon">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="theme-color" content="#111111">
  <meta name="description" content="HVALA — ЭТО ТЕХНОЛОГИЧНЫЙ СЕРВИС ГОСТЕВОГО WI-FI, КОТОРЫЙ ПРИНОСИТ ПОЛЬЗУ C 2015 ГОДА!
Авторизуем пользователей по номеру мобильного телефона в соответствии с законодательством РФ.
Wi-Fi-соединение является неотъемлемой частью жизни нашего общества. И этой технологией можно не только пользоваться, но и зарабатывать, что предлагает Франшиза HVALA. Становясь партнером этой фирмы, вы получаете готовый бизнес под ключ на продаже лицензий wifi-технологии в общественные места, например, общепит, спортивные клубы, библиотеки, транспорт.
Франшиза HVALA подразумевает под собой вайфай-технологию, благодаря которой владельцы бизнеса могут собирать расширенную информацию о своих посетителях, включая не только телефон, имя, но и пол, возраст, интересы, дни рождения, количество посещений. А в дальнейшем проводить анализ этих данных. Первый вариант заработка — продажа лицензий приложения.
При подключении пользователю показывается реклама. И это второй способ монетизации. С проектом работает уже более 100 рекламодателей, при этом франчайзи может запускать собственную рекламу, зарабатывая еще больше.">
  <title>HVALA</title>
  <link rel="preload" href="fonts/Gilroy-Regular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/Gilroy-Medium.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/Gilroy-SemiBold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/Gilroy-Bold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/ArialMT.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="stylesheet" href="css/vendor.css">
  <link rel="stylesheet" href="css/main.css">
  <script src="https://api-maps.yandex.ru/2.0/?load=package.standard&lang=ru-RU"></script>
  <script defer src="js/main.js"></script>
</head>
