<header class="header">
  <div class="container">
    <div class="header__content">
      <div class="header__inn">
        <span class="header__span">ИНН <span class="header__span header__span--accent">6686051134</span></span>
      </div>
      <nav class="nav header__nav">
        <ul class="nav__list list-reset">
          <li class="nav__item">
            <a href="#hero" class="nav__link">
              О компании
            </a>
          </li>
          <li class="nav__item">
            <a href="#contacts" class="nav__link">
              Контакты
            </a>
          </li>
          <li class="nav__item">
            <a href="#reliability" class="nav__link">
              Надежность
            </a>
          </li>
          <li class="nav__item">
            <a href="#facts" class="nav__link">
              Положительные факты
            </a>
          </li>
          <li class="nav__item">
            <a href="#revenue" class="nav__link">
              Выручка
            </a>
          </li>
          <li class="nav__item">
            <a href="#bidding" class="nav__link">
              Торги и госконтракты
            </a>
          </li>
          <li class="nav__item">
            <a href="#founders" class="nav__link">
              Учредители
            </a>
          </li>

        </ul>
      </nav>
      <button class="burger" aria-label="Открыть меню" aria-expanded="false" data-burger>
        <span class="burger__line"></span>
      </button>

      <div class="menu" data-menu>
        <ul class="menu__list list-reset">
          <li class="menu__item"><a href="#hero" class="menu__link">О компании</a></li>
          <li class="menu__item"><a href="#contacts" class="menu__link">Контакты</a></li>
          <li class="menu__item"><a href="#reliability" class="menu__link">Надежность</a></li>
          <li class="menu__item"><a href="#facts" class="menu__link">Положительные факты</a></li>
          <li class="menu__item"><a href="#revenue" class="menu__link">Выручка</a></li>
          <li class="menu__item"><a href="#bidding" class="menu__link">Торги и госконтракты</a></li>
          <li class="menu__item"><a href="#founders" class="menu__link">Учредители</a></li>
        </ul>
      </div>

    </div>
  </div>

</header>
