<section class="hero" id="hero">
  <div class="container">
    <div class="hero__container">
      <div class="hero__wrapper">
        <div class="hero__box">
          <div class="hero__inner">
            <picture>
              <source srcset="img/logo.avif" type="image/avif">
              <source srcset="img/logo.webp" type="image/webp">
              <img loading="lazy" src="img/logo.png" class="image hero__img" width="134" height="37" alt="logo">
            </picture>
            <div class="hero__inside">
              <h1 class="hero__title">
                HVALA
              </h1>
              <p class="hero__descr">
                ООО "КРЕАТИВНЫЙ СИНДИКАТ"
              </p>
              <p class="hero__time">
                На рынке более 9 лет
              </p>
            </div>
          </div>
          <p class="hero__subtitle">
            ТЕХНОЛОГИЧНЫЙ СЕРВИС ГОСТЕВОГО WI-FI
          </p>
        </div>
        <div class="aside aside--active">
          <div class="aside__content">
            <p class="aside__name">
              Евсюков Кирилл Иванович
            </p>
            <p class="aside__position">Генеральный директор, руководитель</p>
            <ul class="aside__list list-reset">
              <li class="aside__item">
                ИНН <span class="aside__accent">6686051134</span>
              </li>
              <li class="aside__item">
                КПП <span class="aside__accent">668601001</span>
              </li>
              <li class="aside__item">
                ОГРН <span class="aside__accent">1146686011867</span>
              </li>
              <li class="aside__item">
                Сотрудников: <span class="aside__accent">16 человек</span>
              </li>
            </ul>
            <div class="aside__box">
              <p class="aside__descr">
                Дата регистрации
              </p>
              <p class="aside__time">
                21.08.2014
              </p>
            </div>
          </div>
        </div>
        <div class="hero__content">
          <h2 class="section-title section-title--mini">
            Описание
          </h2>
          <p class="hero__text">
            HVALA – ЭТО ТЕХНОЛОГИЧНЫЙ СЕРВИС ГОСТЕВОГО WI-FI, КОТОРЫЙ ПРИНОСИТ ПОЛЬЗУ C 2015 ГОДА! <br>
            Авторизуем пользователей по номеру мобильного телефона в соответствии с законодательством РФ. <br>
            Wi-Fi-соединение является неотъемлемой частью жизни нашего общества. И этой технологией можно не только
            пользоваться, но
            и зарабатывать, что предлагает Франшиза HVALA. Становясь партнером этой фирмы, вы получаете готовый бизнес
            под ключ на
            продаже лицензий wifi-технологии в общественные места, например, общепит, спортивные клубы, библиотеки,
            транспорт. <br>
            Франшиза HVALA подразумевает под собой вайфай-технологию, благодаря которой владельцы бизнеса могут собирать
            расширенную
            информацию о своих посетителях, включая не только телефон, имя, но и пол, возраст, интересы, дни рождения,
            количество
            посещений. А в дальнейшем проводить анализ этих данных. Первый вариант заработка – продажа лицензий
            приложения. <br>
            При подключении пользователю показывается реклама. И это второй способ монетизации. С проектом работает уже
            более 100
            рекламодателей, при этом франчайзи может запускать собственную рекламу, зарабатывая еще больше.
          </p>
          <button class="btn-reset hero__btn">Читать полностью</button>
        </div>
      </div>
      <aside class="aside">
        <div class="aside__content">
          <p class="aside__name">
            Евсюков Кирилл Иванович
          </p>
          <p class="aside__position">Генеральный директор, руководитель</p>
          <ul class="aside__list list-reset">
            <li class="aside__item">
              ИНН <span class="aside__accent">6686051134</span>
            </li>
            <li class="aside__item">
              КПП <span class="aside__accent">668601001</span>
            </li>
            <li class="aside__item">
              ОГРН <span class="aside__accent">1146686011867</span>
            </li>
            <li class="aside__item">
              Сотрудников: <span class="aside__accent">16 человек</span>
            </li>
          </ul>
          <div class="aside__box">
            <p class="aside__descr">
              Дата регистрации
            </p>
            <p class="aside__time">
              21.08.2014
            </p>
          </div>
        </div>
        <div class="aside__wrapper">
          <p class="aside__text">
            Индекс ЗЧБ
          </p>
          <div class="aside__point">
            40
          </div>
          <div class="aside__index">
            Высокий <span class="aside__index aside__index--accent">9</span>
          </div>
        </div>
      </aside>
    </div>
  </div>
</section>
