<section class="price" id="price">
  <div class="container container-second">
    <div class="price__content">
      <div class="price__box">
        <h2 class="section-title">
          Стоимость
        </h2>
        <div class="price__item">
          <p class="price__subtitle">
            394 место
          </p>
          <p class="price__descr">
            В категории Програмное обеспечение
          </p>
        </div>
      </div>
      <img loading="lazy" src="img/grafic-1.svg" class="image price__svg" width="857" height="300" alt="charts">
      <div class="price__mobile">
        <div class="price__tag">
          394 место
        </div>
        <p class="price__mobile-text">
          В категории Програмное обеспечение
        </p>
      </div>
    </div>
    <div class="price__wrapper">
      <div class="price__left">
        <h2 class="section-title">Похожие по объему выручки</h2>
        <div class="price__inner">
          <div class="price__btn">
            В отрасли (387 место)
          </div>
          <ul class="price__list list-reset">
            <li class="price__list-item">
              <span class="price__punct">385.</span>
              <span class="price__text">Рокет Фаундерс, ООО (Смыков Е. М.)</span>
            </li>
            <li class="price__list-item">
              <span class="price__punct">386.</span>
              <span class="price__text">Уралинформзащита, ООО (Вернова Т. Н.)</span>
            </li>
            <li class="price__list-item">
              <span class="price__punct price__punct--accent">387.</span>
              <span class="price__text  price__text--accent">Креативный Синдикат, ООО (Евсюков К. И.)</span>
            </li>
            <li class="price__list-item">
              <span class="price__punct">388.</span>
              <span class="price__text">АЙ ТИ ПРОМ, ООО (Вишневский А. А.)</span>
            </li>
            <li class="price__list-item">
              <span class="price__punct">389.</span>
              <span class="price__text">Медиа Тех, ООО (Человечков К. А.)</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="price__right">
        <h2 class="section-title">Похожие по стоимости бизнеса</h2>
        <div class="price__inner">
          <div class="price__btn">
            В отрасли (394 место)
          </div>
          <ul class="price__list list-reset">
            <li class="price__list-item">
              <span class="price__punct">392.</span>
              <span class="price__text">Алиса, ООО
                (Халтурина Т. Н.)</span>
            </li>
            <li class="price__list-item">
              <span class="price__punct">393.</span>
              <span class="price__text">Системы и Технологии, ООО
                (Курылев А. В.)</span>
            </li>
            <li class="price__list-item">
              <span class="price__punct price__punct--accent">394.</span>
              <span class="price__text  price__text--accent">Креативный Синдикат, ООО
                (Евсюков К. И.)</span>
            </li>
            <li class="price__list-item">
              <span class="price__punct">395.</span>
              <span class="price__text">Уникальные Решения, ООО
                (Тарасов Д. С.)</span>
            </li>
            <li class="price__list-item">
              <span class="price__punct">396.</span>
              <span class="price__text">Айти Сервис, ООО
                (Табатчиков С. В.)</span>
            </li>
          </ul>
        </div>

      </div>
    </div>


  </div>
</section>
