<section class="reliability" id="reliability">
  <div class="container">
    <h2 class="section-title reliability__title">Надежность</h2>
    <div class="reliability__content">
      <div class="reliability__box">
        <div class="reliability__btn">
          Плюсы
        </div>
        <ul class="reliability__list list-reset">
          <li class="reliability__item">9 лет компания работает на рынке</li>
          <li class="reliability__item">Компания ведет деятельность</li>
          <li class="reliability__item">Имеет 1 товарный знак</li>
        </ul>
      </div>
      <div class="reliability__box">
        <div class="reliability__btn">
          Минусы
        </div>
        <ul class="reliability__list list-reset">
          <li class="reliability__item">Значительные обязательства</li>
          <li class="reliability__item">Отсутствует имущество</li>
        </ul>
      </div>
    </div>
  </div>
</section>
