<section class="revenue" id="revenue">
  <div class="container container-second">
    <h2 class="section-title">
      Выручка
    </h2>
    <div class="revenue__content">
      <span class="revenue__text">
        Данные по финансовым показателям приведены на основании бухгалтерской отчетности
      </span>
      <div class="revenue__box">
        <p class="revenue__place">
          387 место
        </p>
        <span class="revenue__descr">В категории Програмное обеспечение</span>
      </div>
    </div>
    <div class="revenue__wrapper">
      <img loading="lazy" src="img/grafic-2.svg" class="image revenue__svg" width="1014" height="300" alt="grafic">
    </div>

  </div>
</section>
