// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family: "Gilroy", sans-serif;
  --second-family: "Arial", sans-serif;
  --content-width: 1110px;
  --content-second: 1060px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --light: #fff;
  --accent: #4173f5;
}
